/* clip-path.module.css */
.button {
  transition: transform 0.16s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.holdOverlay {
  clip-path: inset(0px 100% 0px 0px);
  transition: clip-path 0.2s ease-out;
}

.button:active {
  transform: scale(0.97);
}

.button:active .holdOverlay {
  clip-path: inset(0px 0px 0px 0px);
  transition: clip-path 2s linear;
}

.imageReveal {
  animation: reveal 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  transform-origin: center;
}

@keyframes reveal {
  0% {
    transform: scale(0.5);
    clip-path: inset(0 0 100% 0);
  }
  25% {
    transform: scale(0.75);
    clip-path: inset(0 0 100% 0);
  }
  50% {
    transform: scale(1);
    clip-path: inset(0 0 0 0);
  }
  75% {
    transform: scale(1);
    clip-path: inset(100% 0 0 0);
  }
  100% {
    transform: scale(1);
    clip-path: inset(100% 0 0 0);
  }
}
