.card {
  width: 340px;
  height: 120px;
  border-radius: 16px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px rgba(9, 9, 11, 0.08),
    0px 1px 2px -1px rgba(9, 9, 11, 0.08), 0px 2px 4px 0px rgba(9, 9, 11, 0.04);
  overflow: hidden;
}

.card:hover .cardDescription,
.card:focus-visible .cardDescription {
  transform: translateY(0%);
}

.cardDescription {
  --margin: 20px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #fff;
  position: relative;
  margin: var(--margin);
  background: #fafafa;
  width: 100%;
  padding: 10px 14px 20px;
  font-size: 13px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  transform: translateY(calc(100% + var(--margin) + 1px));
  transition-property: transform;
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.cardIcon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.cardTitle {
  color: #1b1b1d;
  font-weight: 500;
}

.cardSubtitle {
  color: #717175;
  line-height: 1;
  margin-top: 4px;
}
